.list {
  width: 282px;
  background: #ebecf0;
  padding: 12px;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 24px;
  /* box-shadow: 2px 2px 8px rgb(0 0 0 / 20%); */
}

.listTitle {
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.task {
  background: #465671;
  color: #000000;
  margin: 7px 0;
  padding: 8px;
  border-radius: 8px;
}

.task:hover {
  text-decoration: underline;
}

.taskLink {
  text-decoration: none;
}

.addButton {
  background: none;
  border: none;
  appearance: none;
  font-size: 18px;
  color: #5e6c84;
  margin-top: 15px;
  cursor: pointer;
}

.addButton:hover {
  color: #000;
}
